body {
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 16px;
}

.header-links {
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 16px;
    padding: 16px;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.sign-up-action {
    width: 560px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.sign-up-container p {
    color: #e5e7eb;
}

.sign-up-container button {
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
}

img {
    width: 560px;
    height: auto;
}

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-items-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-item p {
    width: 200px;
}
