body {
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: white;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 16px;
}

.header-links {
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 16px;
    padding: 16px;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #1f2937;
    padding-bottom: 32px;
    height: 300px;
}

.sign-up-action {
    width: 400px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.sign-up-container p {
    color: #e5e7eb;
}

.sign-up-container button {
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    width: 100px;
    height: 30px;
}

img {
    width: auto;
    height: 300px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-items-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-item p {
    width: 200px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;

}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 700px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.quote-author {
    font-weight: bold;
    width: 700px;
    text-align: end;
    margin-top: 0;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    margin: 32px;
    padding: 16px;
    border-radius: 16px;
}

.call-to-action h5 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.call-to-action p {
    font-size: 12px;
    color: #e5e7eb;
}

.call-to-action button {
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.footer {
    color: #e5e7eb;
    text-align: center;
    background-color: #1f2937;
}
